#header
{
font-size: 40px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 50px grey;
height: 90px;
}
#header:hover
{
    background-color: orange;
}
.status
{
font-size: 25px;
box-shadow: 4px 4px 35px grey;
}
body
{
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
}
canvas
{
    margin-top: 100px;
    border-radius: 0px;
    box-shadow: 5px 5px 50px blue;
}
#footer
{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 21px;
    bottom: 0px;
    position:fixed;
}
.textbox
{
    height: 6.3%;
    width: 40%;
    font-size: 25px;
}